span {
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  span.show {
    opacity: 1;
  }

  .card{
 transition: all 0.3s ease;
  }
  .card:hover{
    transform: scale(1.09);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
  }